@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  height: 100vh;
  background-color: rgb(34, 34, 34);
}
body li {
  list-style: none;
}
body a {
  text-decoration: none;
  list-style: none;
  color: #000;
  font-size: 1.1rem;
}
body a:hover {
  color: aquamarine;
}

/* Header de flexvyne */
header {
  position: relative;
  padding: 0 2rem;
  background-color: aliceblue;
}

.flexvyne_navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flexvyne_navbar .flexvyne_logo a {
  font-size: 1.8rem;
  font-weight: bold;
}
.flexvyne_navbar .flexvyne_links {
  display: flex;
  gap: 3rem;
}
.flexvyne_navbar .flexvyne_toggle_btn {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.flexvyne_boton_menu {
  background-color: blueviolet;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
.flexvyne_boton_menu .flexvyne_boton_menu:hover {
  scale: 1.05;
  color: white;
}
.flexvyne_boton_menu .flexvyne_boton_menu:active {
  scale: 0.95;
}

/*Aqui termina el header*/
/* Despliegue del menu hamburguesa de flexvyne */
.flexvyne_dropdown_menu {
  display: none;
  right: 2rem;
  top: 60px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.flexvyne_dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flexvyne_dropdown_menu .flexvyne_boton_menu {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Aqui termina el menu hamburguesa*/
/* Responsividad del Header */
@media (max-width: 992px) {
  .flexvyne_navbar .flexvyne_links,
  .flexvyne_navbar .flexvyne_boton_menu {
    display: none;
  }
  .flexvyne_navbar .flexvyne_toggle_btn {
    display: block;
  }
  .flexvyne_dropdown_menu {
    display: block;
  }
}
/* Pokemon Centers */
.containercentro {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.containercentro h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 10px;
}

.pokemon-centers {
  margin-top: 10px;
  border-radius: 10px;
  background-color: aliceblue;
}

.parrafo-centropoke {
  background-color: rgb(36, 38, 41);
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}

.titulo-centros {
  margin: 10px;
  text-align: center;
  font-weight: bold;
  color: aquamarine;
}

.parrafo-centros {
  color: aliceblue;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
}

.containercentro h3 {
  text-align: center;
  font-size: 1.3rem;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgba(48, 47, 47, 0.726);
}

.centros-pokemon {
  background-color: #112;
}

.parent2 {
  grid-template-rows: 0.5fr;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 30px;
}
.parent2 div {
  flex: 20%; /* Cambié el tamaño de los divs al 25% del contenedor */
  padding: 10px;
  box-sizing: border-box;
  background-color: aliceblue;
  border-radius: 10px;
  margin-left: 2px;
  margin-right: 2px;
}
.parent2 div img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
}

/*Aqui termina la seccion de pokemon centers*/
/* Aquie comienza la seccion de mas vendidos */
.productos {
  padding: 2rem;
  padding-top: 0;
  background-color: rgb(107, 42, 193);
}

.titulos-poke {
  color: white;
  text-align: center;
  padding-inline: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.titulos-poke h2 {
  font-family: "Alfa Slab One", cursive;
  font-size: 3rem;
  color: white;
}
.titulos-poke h4 {
  color: white;
}
.titulos-poke p {
  font-family: "Lato", sans-serif;
  margin-bottom: 20px;
}

.cartas-poke {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.carta-poke {
  flex-basis: calc(22% - 2rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.carta-poke img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.carta-poke h4 {
  font-family: "Bebas Neue", cursive;
  font-weight: 300;
  font-size: 1.3rem;
  color: white;
}
.carta-poke p {
  font-family: "Lato", sans-serif;
  width: 75%;
  text-align: center;
  color: white;
}
.carta-poke a {
  font-family: "Alfa Slab One", cursive;
  font-size: 1rem;
  background-color: #af3939;
  padding: 0.75rem 1rem;
  color: white;
  text-decoration: none;
}
.carta-poke .boton-rojo {
  border-radius: 5px;
}

/*Aqui termina la seccion de mas vendidos*/
/*Apartado de nosotros*/
.quienes-somos h2 {
  color: white;
  text-align: center;
  background-color: rgb(133, 133, 235);
}
.quienes-somos h3 {
  color: aquamarine;
  text-align: center;
  margin-top: 15px;
  font-size: 1.5rem;
}
.quienes-somos p {
  color: aliceblue;
  text-align: center;
  margin-top: 10px;
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.merca {
  color: white;
}
.merca h2 {
  color: aquamarine;
  margin-bottom: 10px;
}

.mision h2,
.mision p {
  text-align: center;
  color: aquamarine;
}
.mision p {
  color: aliceblue;
  font-size: 1.2rem;
}
.mision h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.vision h2,
.vision p {
  text-align: center;
  color: aquamarine;
}
.vision p {
  color: aliceblue;
  font-size: 1.2rem;
}
.vision h2 {
  margin-top: 60px;
  margin-bottom: 10px;
}

.valores {
  margin-top: 20px;
  color: rgb(255, 255, 255);
}
.valores h2 {
  color: aquamarine;
  margin-bottom: 20px;
}
.valores ul {
  margin-bottom: 50px;
}

/*Aqui termina el apartado de nosotros*/
/*Apartado de contactanos*/
.guia {
  background-color: rgb(133, 133, 235);
  text-align: center;
  max-width: 100%;
  height: 50px;
}
.guia h2 {
  color: white;
}

.contactanos {
  margin-top: 10px;
  margin-bottom: 10px;
}

.container-contactanos {
  width: 75vw;
  max-width: 1200px;
  min-width: 320px;
  margin: auto;
}

.contact {
  width: 80%;
  border-radius: 20px;
  box-shadow: 0px 3px 5px rgba(15, 15, 15, 0.5);
}

.info-contact {
  background-color: rgb(133, 133, 235);
  text-align: center;
}
.info-contact h3 {
  margin-top: 5px;
  margin-bottom: 10px;
  color: white;
  font-size: 2rem;
}
.info-contact h4 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.info-contact li {
  margin-bottom: 10px;
  font-size: 1.3rem;
}

/*Aqui termina el apartado de contactanos*/
/*login*/
.cuerpo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-image: url(https://www.xtrafondos.com/descargar.php?id=8485&resolucion=3840x2160);
}

.wrapper {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: white;
  border-radius: 10px;
  padding: 100px 60px;
}

.wrapper h2 {
  font-size: 36px;
  text-align: center;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
}

.input-box input::placeholder {
  color: white;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.wrapper .btn {
  width: 100%;
  height: 45px;
  background: white;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin-top: 20px 0 15px;
}

.register-link p a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

/*termina el login*/
/*Aqui comienza el footer de mi pagina*/
footer {
  background: #111;
  height: auto;
  width: 100%;
  font-family: "Open Sans";
  padding-top: 10px;
  color: white;
  flex-shrink: 0;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 3rem;
}
.footer-content p {
  max-width: 500px;
  margin: 5px auto;
  line-height: 20px;
  font-size: 14px;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 1rem 0 3rem 0;
}
.socials li {
  margin: 0 15px;
}
.socials a {
  text-decoration: none;
  color: white;
}
.socials a i {
  font-size: 1.1rem;
  transition: color 0.4s ease;
}
.socials a:hover i {
  color: aqua;
}

.footer-bottom {
  background: #000;
  width: 100vw;
  padding: 5px 0;
  text-align: center;
}
.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 100;
}

/*Aqui termina el footer de mi pagina*/

/*# sourceMappingURL=style.css.map */
